<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or "Semakan Bantuan Kasih Johor - 2025" }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-nav">
        <a href="#" class="active">
          Bahasa Melayu <span>| English | 摩訶至 | भारत</span>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="flash">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
</html>
